:root {
    --bg-color: rgb(207, 169, 126);
    --grid-color: white;
    --gradient-color: linear-gradient(0deg, rgb(110, 112, 236) 1%, rgb(164, 82, 219) 99%);
    --gradient-color2: linear-gradient(to right, rgb(0, 180, 251) 5%, rgb(2, 238, 255) 100%);
    --text-color: rgb(164, 82, 219);
    --border-color: rgb(110, 112, 236);
   /* --gradient-color3 : linear-gradient(to right, rgba(251,194,0,1) 5%, rgba(173,158,17,1) 100%); */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(./images/8351209.gif);
    background-size: cover;
    background-color: var(--bg-color);
    height: 100vh;
}

/* Title */
.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1.5rem;
    padding: 5px;
}

.header-frame {
    background-color: var(--text-color);
    width: 40%;
    border-radius: 10px;
    border: 5px solid var(--border-color);
    box-shadow: 5px 5px 5px 5px black;
}

.title-header {
    color: black;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 60px;
}

/* Canvas */
.canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    transform: scale(0.9);
}

.grid-container {
    width: 920px;
    background-color: var(--grid-color);
}

.grid-row {
    display: flex;
}

.grid-box {
    border: 1px solid black;
}

 /* Buttons */
#buttons {
    text-align: center;
    margin: 2.5rem;
}

.color-choice, .reset-color {
    box-shadow: 0px 10px 14px -7px black;
    background: var(--gradient-color);
    background-color: orange;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 13px 32px;
    text-decoration: none;
    text-shadow: 0px 1px 0px orange;
}

.color-choice:hover, .reset-color:hover {
    background: var(--gradient-color2);
    background-color: yellow;
}

.size-button {
    box-shadow: 0px 10px 14px -7px black;
    background: var(--gradient-color);
    background-color: orange;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 13px 32px;
    text-decoration: none;
    text-shadow: 0px 1px 0px orange;
}

.size-button:hover {
    background: var(--gradient-color2);
    background-color: yellow;
}

