:root {
    --grid-cols: 1;
    --grid-rows: 1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: silver;
}

.grid-container {
    width: 920px;
}

.grid-row {
    display: flex;
}

.grid-box {
    border: 1px solid black;
}